<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title2 %></h1>
    <div><%= userInfo.id %></div>
    <div>비밀번호는 <span><%= userInfo.pw %></span>이군요!</div>
    <br>
    <br>
    <a href="/">메인(홈)으로 이동하기</a>
</body>
</html>